* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pokemon-search-container {
  background: url("poke-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  padding: 30px 0;
}

#search-field, #search-btn, #details-btn {
  display: block;
  margin: 5px auto;
  padding: 7px;
  width: 25%;
  border: 1px solid tomato;
  border-radius: 9px;
}
#search-field {
  text-align: center;
}

#search-btn, #details-btn {
  font-weight: 700;
  background-color: black;
  color: tomato;
}
#search-btn:hover {
  cursor: pointer;
  background-color: tomato;
  color: black;
}
#details-btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

#result-container {
  display: none;
  background-color: #EEDDEE;
  box-shadow: 0 0 2px 2px #fc4646;
  border-radius: 12px;
  width: 55%;
  margin: 2rem auto;
  padding: 15px 0;
  text-align: center;
}
#result-container img {
  display: block;
  margin: 0 auto;
  width: 30%;
}

#loader {
  display: none;
  width: 45px;
  height: 45px;
  margin: 0.5rem auto;
  border: 4px solid grey;
  border-top-color: #ff02ff;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  animation: rotation 1s linear infinite
}
@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  #search-field, #search-btn, #details-btn {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 7px;
    border: 1px solid tomato;
    border-radius: 9px;
    text-align: center;
  }
  #search-btn, #details-btn {
    font-weight: 700;
    display: block;
    margin: 5px auto;
    background-color: black;
    color: tomato;
  }
  
  #details-btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }
  
  #result-container {
    display: none;
    border: 2px solid tomato;
    box-shadow: 0 0 5px grey;
    border-radius: 12px;
    background: linear-gradient(45deg, red, white);
    width: 80%;
    margin: 5px auto;
    padding: 15px 0;
    text-align: center;
  }
  #result-container img {
    display: block;
    margin: 0 auto;
    width: 40%;
  }
}